body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

h1{
    text-align: center;
    background-color: aqua;
}
#todos div {
    background: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    border-color: aqua;
    border-radius: 12%;
}

button:hover {
    background-color: #ff4c29;
}